.posts {
    max-width: 720px;
  
    a {
      display: block;
  
      & + a {
        margin-top: 3rem;
      }
  
      strong {
        display: block;
        font-weight: 700;
        font-size: 1.75rem;
        line-height: 2.125rem;
        color: var(--heading);

        transition: filter 0.2s;        
      }

      &:hover strong {
        filter: brightness(0.8);
      }
  
      p {
        font-size: 1.125rem;
        margin-top: 0.5rem;
        line-height: 1.375rem;
        color: var(--body);
      };
  
    }
}